<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Names</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    
    <body>
        <h2>List of Names</h2>
        <div class="table-responsive-md">
			<table class="table table-sm">
			    <thead class="thead-dark">
				    <tr>
		            	<th>Id</th>
		                <th>Name</th>
		                <th>Email</th>
		            </tr>
			    </thead>
			    <tbody>
			        <tr th:each="name : ${names}">
		            	<td th:text="${name.id}">Id</td>
		                <td th:text="${name.name}">Name</td>
		                <td th:text="${name.emaill}">Email</td>
		            </tr> 
			    </tbody>
			</table>
		</div>
    </body>
</html>